* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: NorseBold;
    src: url(./Norse-Bold.otf);
}
body {
    display: flex;
    background-color: #404040;
    padding: 0px 200px
}

.section1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: url(./bush.avif);
    background-size: cover;
    height: 100vh;
    width:40%
}

.section2{
    width: 60%;
}

#logo_background {
    display: flex;
    gap: 5px;
    height: 150px;
    width: 100%;
    margin-top: 170px;
    padding: 10px;
    background-color: black;
    background-color:rgba(0,0,0,0.5);
}

#logo {
    width: 20%;
    margin-left: 25%;
}

h3 {
    font-family: "NorseBold";
    margin-top: 25px;
    font-size: 5rem;
    color: rgba(255, 255, 255, 1);
}

#photo_author{
    color: rgba(255, 255, 255, 0.8);
    font-size: 0.9rem;
    margin-bottom: 10px;
}

a {
    color: rgba(255, 255, 255, 0.8);
}    